{{ header }}
<div class="container">
  <div class="row">
{{ content_top }}
</div>
</div>
<div class="bg-promo">
  <div class="top-bg">
<div class="container">
    <div class="row">
<div class="all-promo">
  <div class="left-promo"><img src="image/promo.png" alt="" title="" /></div>
  <div class="right-promo">
    <div class="title-promo">

С нами выгодно<br /> сотрудничать
    </div>
  
    <div class="info-promo">
      <div class="item-promo">
        <div class="icon-promo"><img src="image/select.png" alt="" /></div>
        <div class="text-promo">Более 1500<br /> позиций</div>
      </div>
      <div class="item-promo">
        <div class="icon-promo"><img src="image/select.png" alt="" /></div>
        <div class="text-promo">Отправка заказа<br /> от 1 дня</div>
      </div>
      <div class="item-promo">
        <div class="icon-promo"><img src="image/select.png" alt="" /></div>
        <div class="text-promo">Лучшие<br /> цены</div>
      </div>

    </div>

  </div>

</div>


</div>
</div>


<div class="container">
    <div class="row">
      <div class="title-about">О нас</div>
      <div class="text-about">
        <div class="about-item">
<p>Каждый человек хоть раз в жизни задумывался о настоящей татуировке. Такое решение дается непросто. Сегодня хорошей альтернативой настоящим является временное тату. </p>

<p>Временные татуировки — возможность ненадолго украсить своё тело необычным рисунком. В отличие от постоянных тату эта разновидность бодиарта исчезает без следа уже через несколько дней или недель. Поэтому можно с легкостью регулярно менять стили, цвета и размеры рисунков — и все это без боли, вреда для здоровья кожи и с минимальными затратами.</p>

<p>Предлагаем Вашему вниманию наш интернет магазин с широким ассортиментом товаров для временных тату. Известные бренды и производители. </p>

<p>В наличии всегда большой выбор материалов для качественной и удобной работы. Хна и масло для мехенди, джагуа гель, трафареты для хны и блеск тату, переводные флеш тату, блеск и клей для тела, стразы и кисти. Для вас всегда хороший товар по разумной цене, быстрая и доступная доставка по России и Крыму.</p>
</div>
 <div class="about-item">
<p>С 2014 года мы занимаемся производством трафаретов и создаём эскизы для временных тату, с 2011 года ежегодно открываем в Крыму на лето несколько точек по нанесению временных татуировок, поэтому хорошо разбираемся в этой тематике.</p>

<p>Если вы задумались над тем, чтобы и самим заняться бизнесом по нанесению временных тату и мехенди, мы можем вам в этом помочь. Мы проконсультируем и предоставим вам возможность в короткие сроки и с минимальными вложениями начать его. </p>

<p>Специальные цены для оптовых покупателей дают возможность совершить заказ с большой скидкой. Также предлагаем вам авторские альбомы и трафареты. Оперативная отправка заказов. Зарабатывайте вместе с нами.</p>

<p>Дополнительным аксессуаром вечера может стать блеск тату на вашем теле или узор мехенди. И если вы решили примерить на себя татуировку перед тем как делать настоящую, временное тату – это то, что вам нужно.</p>

<p>Мы всегда поможем правильно выбрать эскизы и материалы. Ждем вас на нашем сайте, начнём вносить в жизнь яркие краски вместе.</p>
</div>
      </div>

</div>
</div>   

<div class="container">
    <div class="row">
      <div class="all-cont">
        <div class="item-cont">
          <div class="title-cont">Контакты</div>
          <div class="info-cont">
              <div class="info-item">
               <span>Адрес</span>
                Севастополь<br />
                ул. Вакуленчука, 2
              </div>
              <div class="info-item">
                <span>График работы</span>
                  пн-пт: 10.00-19.00
              </div>



          </div>
          <div class="info-cont">
              <div class="info-item">
                <span>Телефон</span>
                <a href="tel:+7 978 974 55 52">+7 978 974 55 52</a>
              </div>
              <div class="info-item">
                <span>Телефон \ Viber \ WhatsApp</span>
              <a href="tel:+7 978 045 52 96">+7 978 045 52 96</a>
              </div>



          </div>
          <div class="info-cont">
              <div class="info-item">
                <span>Электронная почта</span>
                <a href="mailto:business_tattoo@mail.ru" class="mailto">business_tattoo@mail.ru</a>
              </div>
              <div class="info-item">



              </div>



          </div>

        </div>
        <div class="item-cont">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2840.974518699568!2d33.48606311496445!3d44.59754659887122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40953b54e20ee2e1%3A0x31f102a561627ea5!2z0YPQuy4g0JLQsNC60YPQu9C10L3Rh9GD0LrQsCwgMiwg0KHQtdCy0LDRgdGC0L7Qv9C-0LvRjA!5e0!3m2!1sru!2sua!4v1646058249141!5m2!1sru!2sua" width="100%" height="330" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>




      </div>


 </div>
 </div>      


{{ content_bottom }}



{{ footer }}